@import '../../settings';


.navbar-app {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 3px $navbar-board-bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $navbar-app-bg-color;
    padding-left: 2em;
  }