$board-bg-color: #a0b5d8;
$navbar-app-bg-color: #000000;
$navbar-board-bg-color: #025cbd;
$list-bg-color: #ebecf0;
$app-main-color : rgb(255, 255, 255);
$gap: 10px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$column-footer-radius: 5px;
$card-border-radius: 3px;

//screen
$screen-lg :1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-doown: '(max-width: 375px)';